@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?abxa8g');
    src:    url('fonts/icomoon.eot?abxa8g#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?abxa8g') format('truetype'),
        url('fonts/icomoon.woff?abxa8g') format('woff'),
        url('fonts/icomoon.svg?abxa8g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-accesorio:before {
    content: "\e930";
}
.icon-bancos:before {
    content: "\e931";
}
.icon-libros:before {
    content: "\e932";
}
.icon-maroquineria:before {
    content: "\e933";
}
.icon-opticas:before {
    content: "\e934";
}
.icon-telefonia:before {
    content: "\e935";
}
.icon-relog:before {
    content: "\e936";
}
.icon-dobleflechasderc:before {
    content: "\e910";
}
.icon-menu3:before {
    content: "\e90f";
}
.icon-youtube52:before {
    content: "\e90e";
}
.icon-pinterest3:before {
    content: "\e600";
}
.icon-google-plus-square:before {
    content: "\e601";
}
.icon-chevron-up:before {
    content: "\e602";
}
.icon-carritoi:before {
    content: "\e603";
}
.icon-clear:before {
    content: "\e604";
}
.icon-old-phone:before {
    content: "\e605";
}
.icon-mail:before {
    content: "\e606";
}
.icon-whatsapp:before {
    content: "\e607";
}
.icon-phone:before {
    content: "\e608";
}
.icon-google-plus2:before {
    content: "\e609";
}
.icon-user2:before {
    content: "\e60a";
}
.icon-twitter4:before {
    content: "\e60b";
}
.icon-facebook4:before {
    content: "\e60c";
}
.icon-youtube5:before {
    content: "\e60d";
}
.icon-instagram2:before {
    content: "\e60e";
}
.icon-login:before {
    content: "\e60f";
}
.icon-facebook5:before {
    content: "\e610";
}
.icon-bin:before {
    content: "\e800";
}
.icon-copyright:before {
    content: "\e801";
}
.icon-bicil_carr2:before {
    content: "\e802";
}
.icon-uniE80B:before {
    content: "\e80b";
}
.icon-chevron-thin-down:before {
    content: "\e80e";
}
.icon-copyright2:before {
    content: "\e80f";
}
.icon-carta:before {
    content: "\e900";
}
.icon-cerrar:before {
    content: "\e901";
}
.icon-user:before {
    content: "\e902";
}
.icon-pdf:before {
    content: "\e903";
}
.icon-arrows:before {
    content: "\e904";
}
.icon-uniE901:before {
    content: "\e905";
}
.icon-linkedin2:before {
    content: "\e906";
}
.icon-lupa-02:before {
    content: "\e907";
}
.icon-usuarioentrar-03:before {
    content: "\e908";
}
.icon-icono_home-01:before {
    content: "\e909";
}
.icon-singout:before {
    content: "\e90a";
}
.icon-attach_money:before {
    content: "\e90b";
}
.icon-flder:before {
    content: "\e90c";
}
.icon-flizq:before {
    content: "\e90d";
}
.icon-comidas:before {
    content: "\e911";
}
.icon-hogar:before {
    content: "\e912";
}
.icon-joyeria:before {
    content: "\e913";
}
.icon-belleza:before {
    content: "\e914";
}
.icon-viajes:before {
    content: "\e915";
}
.icon-juguetes:before {
    content: "\e916";
}
.icon-entretenimiento:before {
    content: "\e917";
}
.icon-almacenes:before {
    content: "\e918";
}
.icon-deportes:before {
    content: "\e919";
}
.icon-tecnologia:before {
    content: "\e92d";
}
.icon-calzado:before {
    content: "\e92e";
}
.icon-moda:before {
    content: "\e92f";
}
.icon-flech-siguiente:before {
    content: "\e91a";
}
.icon-emailar:before {
    content: "\e91b";
}
.icon-documento:before {
    content: "\e91c";
}
.icon-calendar:before {
    content: "\e91d";
}
.icon-users2:before {
    content: "\e91e";
}
.icon-lapiz:before {
    content: "\e91f";
}
.icon-genero:before {
    content: "\e920";
}
.icon-llave:before {
    content: "\e921";
}
.icon-ciudad:before {
    content: "\e922";
}
.icon-estudios:before {
    content: "\e923";
}
.icon-hijos:before {
    content: "\e924";
}
.icon-sector:before {
    content: "\e925";
}
.icon-calendar2:before {
    content: "\e926";
}
.icon-camara:before {
    content: "\e927";
}
.icon-jpg:before {
    content: "\e928";
}
.icon-ojo:before {
    content: "\e929";
}
.icon-pesos:before {
    content: "\e92a";
}
.icon-tienda:before {
    content: "\e92b";
}
.icon-fle-a:before {
    content: "\e92c";
}
.icon-cart:before {
    content: "\e93a";
}
.icon-phone2:before {
    content: "\e942";
}
.icon-location:before {
    content: "\e947";
}
.icon-search:before {
    content: "\e986";
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-star-empty:before {
    content: "\e9d7";
}
.icon-star-full:before {
    content: "\e9d9";
}
.icon-checkmark:before {
    content: "\ea10";
}
.icon-circle-right:before {
    content: "\ea42";
}
.icon-circle-left:before {
    content: "\ea44";
}
.icon-ctrl:before {
    content: "\ea50";
}
.icon-radio-checked:before {
    content: "\ea54";
}
.icon-google:before {
    content: "\ea87";
}
.icon-google-plus:before {
    content: "\ea88";
}
.icon-facebook:before {
    content: "\ea8c";
}
.icon-facebook2:before {
    content: "\ea8d";
}
.icon-facebook3:before {
    content: "\ea8e";
}
.icon-instagram:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea91";
}
.icon-twitter2:before {
    content: "\ea92";
}
.icon-twitter3:before {
    content: "\ea93";
}
.icon-youtube:before {
    content: "\ea97";
}
.icon-youtube2:before {
    content: "\ea98";
}
.icon-youtube3:before {
    content: "\ea99";
}
.icon-youtube4:before {
    content: "\ea9a";
}
.icon-blogger:before {
    content: "\eab9";
}
.icon-blogger2:before {
    content: "\eaba";
}
.icon-pinterest:before {
    content: "\ead0";
}
.icon-pinterest2:before {
    content: "\ead1";
}
.icon-cross:before {
    content: "\ea0f";
}
.icon-play2:before {
    content: "\ea15";
}
.icon-vimeo:before {
    content: "\eaa0";
}
.icon-vimeo2:before {
    content: "\eaa1";
}