@import './variables.css';
@import './iconos.css';
body{
	background:orange;
	font-size:16px;
	font-family:arial;
}
section{
	display:flex;
}
.center{
	align-items:center;
	justify-content:center;
	transition:all 1s ease;
}
.u-scrollContainer{
	width:100%;
	overflow:auto;
	white-space: nowrap;
	margin:0 0 20px 0;
	/*css4*/
	scroll-snap-points-x: repeat(100%);
	scroll-snap-type: mandatory;
	font-size:0;

	&-itemContainer{
		border:1px solid var(--border-feacture);
		border-radius:12px;
		width:98%;
		margin:1%;
		display:inline-block;
		line-height:18px;
		font-size:18px;
	}
	&-itemContetn{
		display:flex;

		& > img {
			width:auto;
			height:200px;
		}
	}
}
/*
	clases
	.InvieHero{
		reglas---
	}
	.InvieHero-header{
		reglas---
	}
	.InvieHero-btn{
		reglas---
	}
*/
.InvieHero{
	padding:20px;
	height:500px;
	&-header{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}
	&-btn{
		@mixin btn var(--bg-body),var(--bg-header)
	}
}
