:root{
	--bg-body:#fafafa;
	--bg-header:#466173;
	--bg-gradient:#fd324e;
	--border-feacture:#1f313c;
}

/*-- mixins   funciones----*/
@define-mixin btn $texcolor, $bgcolor, $bgcolorStart, $bgcolorEnd {
	color:$(texcolor);
	background:$(bgcolor);
}